# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# Виртуальные окружения
.venv/
venv/
env/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Логи
# ==========================
*.log